* text=auto

# Normalize code to LF in repo (Windows converts to CRLF in working dir)
*.h   text eol=lf
*.hpp text eol=lf
*.cpp text eol=lf
*.cu  text eol=lf
*.cuh text eol=lf
*.inl text eol=lf

# Binary / do not diff
*.png binary
*.jpg binary
*.usd binary
*.usda text eol=lf
